/* Header, footer, and text */
* {
  box-sizing: border-box;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  font-family: Arial, Helvetica, sans-serif;
}

.nav ul {
  margin-top: -1%;
  margin-left: -1%;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #333;
  width: 100%;
  color: white;
  padding: 1%;
}

/* Page content */
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}


.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
    place-items: center;
}
.column1 {
  grid-column-start: 1;
  grid-column-end: 1;

}
.column2 {
  grid-column-start: 2;
  grid-column-end: 2;
}