.nav { /* Navigation bar styling */
  background-color: rgb(29, 170, 132);
  overflow: hidden;
  height: 50px;
  float: left;
  margin: 0;
  padding: 0;
}

.nav a:hover {
  background-color: lightcoral;
}

a {
  display: block;
  color: white;
  width: 60px;
}

mark {
  background-color:aqua;
}